@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex inline-block;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
footer section .correo-suscri {
  padding: 20px;
  display: flex;
  justify-content: center;
}
footer p li {
  padding: 10px;
}
footer div {
  display: flex;
  justify-content: end;
}
footer div .mapita {
  padding: 10px;
  padding-right: 25px;
}
footer .copy {
  display: flex;
  justify-content: end;
  padding-right: 25px;
}

main {
  background-color: #D9ADAD;
}
main .enca-img .img- {
  max-width: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
main .menu-index {
  font-size: 20px;
  background-color: #D9ADAD;
  padding: 20px, 0;
  display: flex inline-block;
  padding-top: 15px;
}
main .menu-index .lista-menu {
  display: flex;
  justify-content: center;
}
main .menu-index .lista-menu li {
  list-style: none;
}
main .menu-index .lista-menu li a {
  color: #316B83;
  text-decoration: none;
  display: flex inline-block;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  border-radius: 3px;
  margin: 70px;
}
main .menu-index .lista-menu li .prueba {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #316B83;
}
main .menu-index .lista-menu li .img-prueba {
  margin-left: 5px;
}

.sec-insta {
  display: flex inline-block;
  justify-items: center;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding: 40px;
  border: 2px solid #e06e6e;
}
.sec-insta .ig {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.sec-insta .ig a {
  text-decoration: none;
  color: #316B83;
  size: 20px;
}
.sec-insta .ig .insta.index {
  display: flex;
  justify-content: center;
  background-color: rgb(247, 199, 211);
}
.sec-insta .contenedor-foto-ig {
  display: flex;
  justify-content: center;
}
.sec-insta .contenedor-foto-ig .foto-ig {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.sec-insta .contenedor-follow {
  display: flex;
  justify-content: center;
}
.sec-insta .contenedor-follow .follow {
  display: flex;
  justify-content: center;
}

.sec-personalizados {
  display: flex inline-block;
  padding: 20px;
}
.sec-personalizados .contenedor-parrafo {
  display: flex inline-block;
  justify-content: center;
}
.sec-personalizados .contenedor-parrafo .parrafo {
  display: flex;
  justify-content: center;
}
.sec-personalizados .personalizados a {
  text-decoration: none;
}
.sec-personalizados .personalizados li {
  display: inline-block;
  padding: 20px;
}
.sec-personalizados .personalizados li img {
  max-width: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.cuerpo {
  background-color: #D9ADAD;
}

.contenedor-nosotros {
  display: grid;
}
.contenedor-nosotros .primer-section {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contenedor-nosotros .texto-nos {
  padding-left: 50px;
  padding-right: 50px;
}
.contenedor-nosotros .texto-nos .nos-nos {
  padding-bottom: 15px;
}
.contenedor-nosotros .texto-nos .sig-nos {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contenedor-nosotros .texto-nos .lorem-sig {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 30px;
}
.contenedor-nosotros .texto-nos .sobre-nos {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contenedor-nosotros .texto-nos .lorem-nos {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-nosotros .contenedor-collage .img-coll {
  padding-top: 5px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-nosotros .vision-mision {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contenedor-nosotros .vision-mision .section-mision .mision-tit {
  max-width: 640px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.contenedor-nosotros .vision-mision .section-mision .lorem-mision {
  max-width: 640px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-left: 50px;
  padding-right: 50px;
}
.contenedor-nosotros .vision-mision .section-vision .vision-tit {
  max-width: 620px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.contenedor-nosotros .vision-mision .section-vision .lorem-vision {
  max-width: 620px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-left: 50px;
  padding-right: 50px;
}
.contenedor-nosotros .contenedor-pie {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

h5 {
  background-color: #D9ADAD;
  color: black;
}

.carru {
  background-color: #D9ADAD;
  color: black;
}

.contenedor-ubicaciones {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contenedor-ubicaciones .div-ubi-palermo {
  display: grid;
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .pin-ubi-palermo {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .img-ubi-palermo {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .img-ubi-palermo .tm-img {
  max-width: 100%;
  height: auto;
  width: 500px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .li-info {
  padding-top: 10px;
}
.contenedor-ubicaciones .div-ubi-carrasco {
  display: grid;
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .pin-ubi-carrasco {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .img-ubi-carrasco {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .img-ubi-carrasco .tm-img {
  max-width: 100%;
  height: auto;
  width: 500px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .li-info {
  padding-top: 10px;
}

.img-menu {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
