@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex inline-block;
  background-color: #EDF1F1;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border: solid #a0a1a1;
}
footer section .correo-suscri {
  padding: 20px;
  display: flex;
  justify-content: center;
}
footer .footer-nuev {
  display: flex inline-block;
}
footer .footer-nuev p li {
  padding: 10px;
  display: flex inline-block;
}
footer .contenedor-mapita {
  display: flex inline-block;
}
footer .contenedor-mapita .mapita {
  padding: 10px;
  padding-right: 25px;
}
footer .copy {
  display: flex;
  justify-content: end;
  padding-right: 25px;
}

main {
  background-color: #D9ADAD;
}
main .titulo {
  display: none;
}
main .enca-img .img- {
  max-width: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
main .menu-index {
  font-size: 20px;
  background-color: #D9ADAD;
  padding: 20px, 0;
  display: flex inline-block;
  padding-top: 15px;
}
main .menu-index .lista-menu {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 758px) {
  main .menu-index .lista-menu {
    display: inline-block;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
main .menu-index .lista-menu li {
  list-style: none;
}
@media only screen and (max-width: 758px) {
  main .menu-index .lista-menu li {
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 15px;
  }
}
main .menu-index .lista-menu li a {
  color: #316B83;
  text-decoration: none;
  display: flex inline-block;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  border-radius: 3px;
  margin: 1rem;
}
main .menu-index .lista-menu li a .grow {
  transition: all 0.2s ease-in-out;
}
main .menu-index .lista-menu li a .grow:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 758px) {
  main .menu-index .lista-menu li a .grow:hover {
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 15px;
  }
}

.sec-insta {
  display: flex inline-block;
  justify-items: center;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding: 40px;
  border: 2px solid #e06e6e;
}
.sec-insta .ig {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.sec-insta .ig a {
  text-decoration: none;
  text-decoration: blink;
  color: #316B83;
  size: 20px;
}
.sec-insta .ig .insta.index {
  display: flex;
  justify-content: center;
  background-color: rgb(247, 199, 211);
}
.sec-insta .contenedor-foto-ig {
  display: flex;
  justify-content: center;
}
.sec-insta .contenedor-foto-ig .foto-ig {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.sec-insta .contenedor-follow {
  display: flex;
  justify-content: center;
}
.sec-insta .contenedor-follow .grow {
  transition: all 0.2s ease-in-out;
}
.sec-insta .contenedor-follow .grow:hover {
  transform: scale(1.1);
}
.sec-insta .contenedor-follow .follow {
  display: flex;
  justify-content: center;
}

.sec-personalizados {
  display: flex inline-block;
  padding: 20px;
}
.sec-personalizados .contenedor-parrafo {
  display: flex inline-block;
  justify-content: center;
}
.sec-personalizados .contenedor-parrafo .parrafo {
  display: flex;
  justify-content: center;
}
.sec-personalizados .personalizados a {
  text-decoration: none;
}
.sec-personalizados .personalizados li {
  display: inline-block;
  padding: 20px;
}
.sec-personalizados .personalizados li img {
  max-width: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (max-width: 758px) {
  .cards {
    display: inline-block;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.cards .cards-style {
  background-color: #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border: solid 3px rgb(241, 155, 177);
  border-radius: 10px;
  margin: 1rem;
}
.cards .cards-style .btn-primary {
  margin-top: 10px;
  font-family: "Work Sans", Sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 10px 10px 10px 10px;
  border-color: #202424;
  padding: 5px 12px 5px 12px;
  color: #FFFFFF;
  background-color: #202424;
  transition: all 0.2s;
}
.cards .cards-style .cl {
  transition: all 0.2s ease-in-out;
}
.cards .cards-style .cl:hover {
  transform: scale(1.1);
  border: #D9ADAD;
  background-color: #D9ADAD;
  color: #3A4040;
}
.cards .cards-style .btn-style {
  color: #3A4040;
  background-color: #EDF1F1;
  border-color: #EDF1F1;
  font-family: "Work Sans", Sans-serif;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
  padding: 15px 25px 15px 25px;
  margin-top: 15px;
  cursor: pointer;
}
.cards .cards-style .grow {
  transition: all 0.2s ease-in-out;
}
.cards .cards-style .grow:hover {
  transform: scale(1.1);
}

.cuerpo {
  background-color: #D9ADAD;
}

.contenedor-nosotros {
  display: grid;
}
@media only screen and (max-width: 758px) {
  .contenedor-nosotros {
    display: block;
  }
}
.contenedor-nosotros .primer-section {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 758px) {
  .contenedor-nosotros .primer-section {
    display: block;
  }
}
.contenedor-nosotros .texto-nos {
  padding-left: 50px;
  padding-right: 50px;
}
.contenedor-nosotros .texto-nos .nos-nos {
  padding-bottom: 15px;
}
.contenedor-nosotros .texto-nos .sig-nos {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contenedor-nosotros .texto-nos .lorem-sig {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 30px;
}
.contenedor-nosotros .texto-nos .sobre-nos {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contenedor-nosotros .texto-nos .lorem-nos {
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-nosotros .contenedor-collage {
  max-width: 500px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 1012px) {
  .contenedor-nosotros .contenedor-collage {
    max-width: 400px;
    max-height: 472px;
  }
}
@media only screen and (max-width: 910px) {
  .contenedor-nosotros .contenedor-collage {
    max-width: 300px;
    max-height: 355px;
  }
}
@media only screen and (max-width: 1012px) {
  .contenedor-nosotros .contenedor-collage .img-coll {
    max-width: 400px;
  }
}
@media only screen and (max-width: 910px) {
  .contenedor-nosotros .contenedor-collage .img-coll {
    max-width: 300px;
  }
}
@media only screen and (max-width: 810px) {
  .contenedor-nosotros .contenedor-collage {
    display: none;
  }
}
.contenedor-nosotros .vision-mision {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 758px) {
  .contenedor-nosotros .vision-mision {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1018px) {
  .contenedor-nosotros .vision-mision {
    display: block;
    justify-content: center;
  }
}
.contenedor-nosotros .vision-mision .section-mision .mision-tit {
  max-width: 580px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-nosotros .vision-mision .section-mision .lorem-mision {
  max-width: 580px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 758px) {
  .contenedor-nosotros .vision-mision .section-vision {
    display: block;
  }
}
.contenedor-nosotros .vision-mision .section-vision .vision-tit {
  max-width: 580px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-nosotros .vision-mision .section-vision .lorem-vision {
  max-width: 580px;
  background-color: #bb6a6a;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-nosotros .contenedor-pie {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 758px) {
  .contenedor-nosotros .contenedor-pie {
    display: none;
  }
}

.carru-tamaño {
  max-width: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1206px) {
  .carru-tamaño {
    margin-left: 75px;
  }
}
@media only screen and (max-width: 1125px) {
  .carru-tamaño {
    margin-left: 33px;
  }
}
@media only screen and (max-width: 1066px) {
  .carru-tamaño {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 1066px) {
  .carru-tamaño {
    margin-left: 0px;
  }
}

h5 {
  background-color: #D9ADAD;
  color: black;
}

.carru {
  background-color: #D9ADAD;
  color: black;
}

h1 {
  display: none;
}

.section-h2 {
  display: flex;
  justify-content: center;
}
.section-h2 .lore-h {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.botons {
  padding-bottom: 10px;
}

.contenedor-ubicaciones {
  padding-right: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 758px) {
  .contenedor-ubicaciones {
    padding-right: 30px;
  }
}
.contenedor-ubicaciones .div-ubi-palermo {
  display: grid;
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .pin-ubi-palermo {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .img-ubi-palermo {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .img-ubi-palermo .tm-img {
  max-width: 100%;
  height: auto;
  width: 500px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-ubicaciones .div-ubi-palermo .ul-ubi-palermo .li-info {
  padding-top: 10px;
}
.contenedor-ubicaciones .div-ubi-carrasco {
  display: grid;
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .pin-ubi-carrasco {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .img-ubi-carrasco {
  list-style: none;
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .img-ubi-carrasco .tm-img {
  max-width: 100%;
  height: auto;
  width: 500px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.contenedor-ubicaciones .div-ubi-carrasco .ul-ubi-carrasco .li-info {
  padding-top: 10px;
}

.correo-suscri {
  font-size: 17px;
}

.main-menu .h1-menu {
  display: none;
}
.main-menu .img-menu {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 758px) {
  .main-menu .img-menu {
    display: none;
  }
}
.main-menu .nav-menu {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #fff;
  border: solid #EDF1F1;
}
.main-menu .nav-menu .nav-item .nav-link {
  color: #3A4040;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (max-width: 758px) {
  .cards {
    display: inline-block;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.cards .cards-style {
  background-color: #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border: solid 3px rgb(241, 155, 177);
  border-radius: 10px;
  margin: 1rem;
}
.cards .cards-style .btn-style {
  color: #3A4040;
  background-color: #EDF1F1;
  border-color: #EDF1F1;
  font-family: "Work Sans", Sans-serif;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
}
.cards .cards-style .grow {
  transition: all 0.2s ease-in-out;
}
.cards .cards-style .grow:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
