// Cambios al h1
h1{
    display: none;
}


// Cambios al h2
.section-h2{
    display: flex;
    justify-content: center;
    .lore-h{
        display: flex;
        justify-content: center;
        
    }

}
h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.botons{
    padding-bottom: 10px;
}


// Cambios a primer seccion 
.contenedor-ubicaciones{
    padding-right: 30px;
    @media only screen and (max-width:758px){
        padding-right: 30px;
        
    }
    

    display: grid;
    grid-template-columns: 50% 50%;

       .div-ubi-palermo{
             display: grid;
           
        
             
          
            .ul-ubi-palermo{ 
                
                .pin-ubi-palermo{ 
                    list-style: none;
                   
                        
                }
            
                .img-ubi-palermo{
                    list-style: none;
                    .tm-img{
                        max-width: 100%;
                        height: auto;
                        width: 500px;
                        box-shadow: 5px 0 10px rgba(0, 0, 0, .6)
                        }
                }
                .li-info{
                    padding-top: 10px;
                   
                }
               
            }
        }
        .div-ubi-carrasco{
            display: grid;
            .ul-ubi-carrasco{
                .pin-ubi-carrasco{
                    list-style: none;
                }
                .img-ubi-carrasco{
                    list-style: none;
                   .tm-img{
                    max-width: 100%;
                   height: auto;
                   width: 500px;
                    box-shadow: 5px 0 10px rgba(0, 0, 0, .6)
                   }

                }
                .li-info{
                    padding-top: 10px;
                   
                }

            }
        }

    
  
        
}

// Footer
.correo-suscri{
    font-size: 17px;

}
