footer{
    display: flex inline-block;
    background-color: #EDF1F1;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    border: solid #a0a1a1;
    section{
        .correo-suscri {
            padding: 20px;
            display: flex;
            justify-content: center;
        }

    

    }

    .footer-nuev{
        display: flex inline-block;

    p{
        li{
            padding: 10px;
            display: flex inline-block;
            
    
        }

           

    }
    }
 

    .copy{
        display: flex;
        justify-content: end;
        padding-right: 25px;
    }

}
.section-info{
    .info-footer{
        .footer-info {
            .li{
                font-size: 10px;
            }
        }
    }
}
