footer{
    display: flex inline-block;
    background-color: #bb6a6a;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    section{
        .correo-suscri {
            padding: 20px;
            display: flex;
            justify-content: center;
        }

    

    }

    p{
        li{
            padding: 10px;

        }
    }
 
    div{
        display: flex;
        justify-content:end;

        .mapita{
            padding: 10px;
            padding-right: 25px;
        }
    }

    .copy{
        display: flex;
        justify-content: end;
        padding-right: 25px;
    }
}
