
@import '../base/variables';

main {
    background-color: #C6EBC9;

    .titulo{ display: none;
    }
 
        .enca-img{ 
            .img-{
                max-width: 100%;
                box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
             }

            }
    
        .menu-index { 
            font-size: 20px;
            background-color: #C6EBC9;
           
            padding: 20px, 0;
            display: flex inline-block;
            padding-top: 15px;
            // @media only screen and (max-width:758px){
            //     display: inline-block;}

        
            

                .lista-menu {
                    
                    display: flex;
                    justify-content: center;
                    
                    @media only screen and (max-width:758px){
                        display: inline-block;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                        
                    }

                        li { list-style: none;
                            @media only screen and (max-width:758px){
                                border-radius: 10px;
                                margin: 5px;
                                padding-bottom: 15px;
                                }
                            
                            a{
                                
                                color: #316B83;
                                text-decoration: none;
                                display: flex inline-block;
                                justify-content: center;
                                align-items: center;
                                padding-top: 2px;
                                border-radius: 3px;
                                margin: 1rem;
                                .grow { transition: all .2s ease-in-out; }
                                .grow:hover { transform: scale(1.1);
                                    @media only screen and (max-width:758px){
                                    border-radius: 10px;
                                    margin: 5px;
                                    padding-bottom: 15px;
                                    }
            }
                               }
                            
                        }
                        // 
                        
                }

        }
}

.sec-insta{
 
    display: flex inline-block;
    justify-items: center;
    background-color: #F0E2D0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    padding: 40px;
    border: $border-productos;
    

    .ig{ 
        display: flex;
        justify-content: center;
        justify-items: center;
        
        

        a{ text-decoration: none;
            text-decoration: blink;
            color: #316B83;
            size: 20px;}

        .insta.index{
            
            display: flex;
            justify-content: center;
            background-color: rgb(112, 175, 133);

        }
    }

    .contenedor-foto-ig{
        display: flex;
        justify-content: center;

        .foto-ig{
            max-width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px;
        }
    }

    .contenedor-follow{
        display: flex;
        justify-content: center;
        .grow { transition: all .2s ease-in-out; }
            .grow:hover { transform: scale(1.1);
            }

        .follow {
            display: flex;
            justify-content: center;
            
        }
    }

}

.sec-personalizados{
    display: flex inline-block;
    padding: 20px;


    .contenedor-parrafo{ 
        display: flex inline-block;
        justify-content: center;
        
        .parrafo{
            display: flex ;
            justify-content: center;
            
            
        }

        }
    .personalizados{
        a{
            text-decoration: none;
        }
        li{
            display: inline-block;
            padding: 20px;
             img{ 
                max-width: 100%;
             box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
             }

        }
       
        }

        

    
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;

    

    @media only screen and (max-width:758px){
        display: inline-block;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
    }


  

       .cards-style{
           background-color: #fff;
           box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
           border: solid 3px rgb(112, 175, 133);
           border-radius: 10px;
           margin: 1rem;

           
            .btn-primary{
                margin-top: 10px;
                font-family: "Work Sans", Sans-serif;
    // font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 10px 10px 10px 10px;
    border-color: #202424;
    padding: 5px 12px 5px 12px;
    color: #FFFFFF;
    background-color: #202424;
    transition: all 0.2s;
    
                
            }
            .cl{ transition: all .2s ease-in-out; }
            .cl:hover{
                transform: scale(1.1);
                border: #D9ADAD;
                background-color: #D9ADAD;
                color: #3A4040;
            }

            .btn-style  {
                
                color: #3A4040;
                background-color: #EDF1F1;
                border-color: #EDF1F1;
                font-family: "Work Sans", Sans-serif;
                font-size: 13px;
                font-weight: bold;
                border-radius: 20px 20px 20px 20px;
                padding: 15px 25px 15px 25px;
                margin-top: 15px;
                cursor: pointer;
                
                   
            }
            
            
            .grow { transition: all .2s ease-in-out; }
            .grow:hover { transform: scale(1.1);
                
            }
        }  
    



 }

 //  Sección de suscripción
.widget_blog_subscription {
    display: block;
    margin: 30px auto;
    max-width: 500px;

    max-height: 350px;
    position: relative;
    overflow: hidden;
    background-color: #F6F6F2;
  }
  .widget_blog_subscription p {
    margin: 0;
    text-align: center;
  }
  .widget_blog_subscription p:first-child {
    margin: 20px 15px 0;
    color: #F38630;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
  }
  .widget_blog_subscription input[type="text"] {
    margin: 20px 30px;
    color: #999;
    padding: 15px 10px !important;
    text-align: center;
    max-width: 350px;
    max-height: 200px;
    outline: none;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
  }
.widget_blog_subscription input[type="submit"] {
  margin: 0;
  background-color: #69D2E7;
  color: #fff;
  padding: 15px 15px !important;
  text-align: center;
  width: 100%;
  max-width: 100%;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}
.option-b.widget_blog_subscription {
    background-color: #C6EBC9;
  }
  .option-b.widget_blog_subscription p:first-child {
    color: #999;
  }
  .option-b.widget_blog_subscription input[type="text"] {
    color: #999;
  }
  .option-b.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
    color: #999;
  }
  .option-b.widget_blog_subscription input[type="text"]:-moz-placeholder {
    color: #999;
  }
  .option-b.widget_blog_subscription input[type="text"]::-moz-placeholder {
    color: #999;
  }
  .option-b.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
    color: #999;
  }
  .option-b.widget_blog_subscription input[type="submit"] {
    background-color: #70AF85;
    color: #fff;
  }
  .option-b.widget_blog_subscription input[type="submit"]:hover {
    background-color: #E0E4CC;
  }
  

      




















