
@import '../base/variables';

main {
    background-color: #D9ADAD;

    .titulo{ display: none;
    }
 
        .enca-img{ 
            .img-{
                max-width: 100%;
                box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
             }

            }
    
        .menu-index { 
            font-size: 20px;
            background-color: #D9ADAD;
            padding: 20px, 0;
            display: flex inline-block;
            padding-top: 15px;
            // @media only screen and (max-width:758px){
            //     display: inline-block;}

        
            

                .lista-menu {
                    
                    display: flex;
                    justify-content: center;
                    @media only screen and (max-width:758px){
                        display: inline-block;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                    }

                        li { list-style: none;
                            
                            a{
                                color: #316B83;
                                text-decoration: none;
                                display: flex inline-block;
                                justify-content: center;
                                align-items: center;
                                padding-top: 2px;
                                border-radius: 3px;
                                margin: 1rem;
                                .grow { transition: all .2s ease-in-out; }
                                .grow:hover { transform: scale(1.1);
            }
                               }
                            
                        }
                        // 
                        
                }

        }
}

.sec-insta{
 
    display: flex inline-block;
    justify-items: center;
    background-color: #bb6a6a;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    padding: 40px;
    border: $border-productos;
    

    .ig{ 
        display: flex;
        justify-content: center;
        justify-items: center;
        
        

        a{ text-decoration: none;
            text-decoration: blink;
            color: #316B83;
            size: 20px;}

        .insta.index{
            
            display: flex;
            justify-content: center;
            background-color: rgb(247, 199,211);

        }
    }

    .contenedor-foto-ig{
        display: flex;
        justify-content: center;

        .foto-ig{
            max-width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px;
        }
    }

    .contenedor-follow{
        display: flex;
        justify-content: center;
        .grow { transition: all .2s ease-in-out; }
            .grow:hover { transform: scale(1.1);
            }

        .follow {
            display: flex;
            justify-content: center;
            
        }
    }

}

.sec-personalizados{
    display: flex inline-block;
    padding: 20px;


    .contenedor-parrafo{ 
        display: flex inline-block;
        justify-content: center;
        
        .parrafo{
            display: flex ;
            justify-content: center;
            
            
        }

        }
    .personalizados{
        a{
            text-decoration: none;
        }
        li{
            display: inline-block;
            padding: 20px;
             img{ 
                max-width: 100%;
             box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
             }

        }
       
        }

       

    
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;

    @media only screen and (max-width:758px){
        display: inline-block;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
    }


  

       .cards-style{
           background-color: #fff;
           box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
           border: solid 3px rgb(241, 155, 177);
           border-radius: 10px;
           margin: 1rem;

            .btn-style  {
                color: #3A4040;
                background-color: #EDF1F1;
                border-color: #EDF1F1;
                font-family: "Work Sans", Sans-serif;
                font-size: 13px;
                font-weight: bold;
                border-radius: 20px 20px 20px 20px;
                padding: 15px 25px 15px 25px;
                cursor: pointer;
                   
            }
            
            .grow { transition: all .2s ease-in-out; }
            .grow:hover { transform: scale(1.1);
            }
        }  

            
           
 }

      




















