@import'../base/variables';
.contenedor-nosotros{

    display: grid;
    @media only screen and (max-width:758px){
        display: block;
        
        
    }
        .primer-section{
            margin-top: 10px;
            display: grid;
            grid-template-columns: 50% 50%;
            @media only screen and (max-width:758px){
                display: block;                
            }
           
        }
        .texto-nos{
            
            padding-left: 50px;
            padding-right: 50px;
             .nos-nos{
                
                padding-bottom: 15px;
                
            }
            .sig-nos{background-color: $bg-secundario;
                box-shadow: $sombra;
                padding-bottom: 10px;
               
            }
            .lorem-sig{
                background-color: $bg-secundario;
                box-shadow: $sombra;
                padding-bottom: 30px;
                
            }

            .sobre-nos{
                background-color: $bg-secundario;
                box-shadow: $sombra;
                padding-bottom: 10px;
            }
            .lorem-nos{
                background-color: $bg-secundario;
                box-shadow: $sombra;
               
            }
        }
        .contenedor-collage{
            @media only screen and (max-width:1012px){
                  max-width: 400px;
                  max-height: 472px;
                                        
                } 
                @media only screen and (max-width:910px){
                    max-width: 300px;
                    max-height: 355px;
                                          
                  } 
            max-width: 500px;
            .img-coll{
                @media only screen and (max-width:1012px){
                  max-width: 400px;
                    
                    
                } 
                @media only screen and (max-width:910px){
                   max-width: 300px;
                                          
                  }   
            }          

            @media only screen and (max-width:810px){
                display: none;              
            }             
               
                
                box-shadow: 5px 0 10px rgba(0, 0, 0, .6)
            
            }
        .vision-mision{
            display: grid;
            grid-template-columns: 50% 50%;
            padding-top: 80px;
            padding-bottom: 80px;
            @media only screen and (max-width:758px){
                display: block;
                justify-content: center;
                align-items: center;
                
                
            }
            @media only screen and (max-width:1018px){
                display: block;    
                justify-content: center;            
            }
            .section-mision{
                
               
                .mision-tit{
                    max-width: 580px;
                    background-color: $bg-secundario;
                    box-shadow: $sombra;
                    
                    margin-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .lorem-mision{
                    max-width: 580px;
                    background-color: $bg-secundario;
                    box-shadow: $sombra;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .section-vision{
                @media only screen and (max-width:758px){
                    display: block;                
                }
                
                .vision-tit{
                    max-width: 580px;
                    background-color: $bg-secundario;
                    box-shadow: $sombra;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                   
                }
                .lorem-vision{
                    max-width: 580px;
                    background-color: $bg-secundario;
                    box-shadow: $sombra;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
    
        }
        .contenedor-pie{
            padding-bottom: 15px;
            display: flex;
            justify-content: center;
            @media only screen and (max-width:758px){
                display: none;
                               
            }
        }
    
}